<footer>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo fuga repellat dolor assumenda cupiditate eius impedit consequatur ut, commodi error, animi laudantium fugiat officiis reiciendis unde, beatae quae corporis. Dignissimos?</h5>
</footer>