<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/css/styles.css">
        <script src="../../public/js/script.js"></script>
    </head>
    <body>
        {{>header}}
        <h3>{{errorMessage}}</h3>
        {{>footer}}
    </body>
</html>