<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="main">
            <title>Weather app</title>
            <h1>{{>header}}</h1>
            <p>{{helpMessage}}</p>
        </div>
        <p>{{>footer}}</p>
    </body>
</html>